.jumbotron {
  background-color: rgb(176, 255, 185);
}
.logo {
  height: 130px;
}
 {
  font-family: "Lato", sans-serif;
}
p {
  font-size: 20px;
}
.pic {
  height: 540px;
}
.pic2 {
  height: 580px;
}
.pic3 {
  height: 580px;
}
.pic4 {
  height: 590px;
}
